@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-image{
    width: 100%;
    position: relative;
    display: inline-block;
    /* marginTop:"-600px", */
    /* border: 2px solid red; */
}

.text-overlay{
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-10%, -10%);
    padding: 0px;
    border-radius: px;
}

.images{
    display: block;
    max-width: 600%;
    height: auto;
    /* margin-left: -2px; */
    overflow: hidden;
}

body{
    background-color: #fef7ec;
}


